
img{
    margin-top:-24px;
}

.number input, .result input{
    width: 50px;
    font-size: 34px;
}

.second_number{
    display: none;
    margin-left: 350px;
}
.first, .second, .sign{
    float: left;

}

.first_number{
    clear: both;
    margin-left: 150px;
}

.container{
    width:50%;

    margin-left: auto;
    margin-right: auto;
}

.example{
    margin-left: 250px;
    font-size: 34px;
}